/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Mono", monospace;
}

[v-cloak] {
	display: none;
}

#content {
	opacity: 0;
}
#content.loaded {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
